In [204]:
import pandas as pd
import numpy as np

In [205]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\akash pal\appdata\roaming\python\python311\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\akash pal\appdata\roaming\python\python311\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [206]:
df=pd.read_excel('Mood_sentiment.xlsx')

In [207]:
df

                                             sentences sentiment
0    Kindness ripples through my actions, creating ...  positive
1    Every challenge I face is an opportunity for g...  positive
2    Gratitude fills my heart for the simple pleasu...  positive
3    I am a beacon of positivity, radiating joy to ...  positive
4      The laughter of loved ones is music to my soul.  positive
..                                                 ...       ...
559      The ache in my heart is a constant companion.  negative
560  The days pass in a monotonous haze of dissatis...  negative
561  I'm enveloped in a cloud of apathy and indiffe...  negative
562  The weight of regret is a burden I carry with ...  negative
563  It feels like I'm running in place, making no ...  negative

[564 rows x 2 columns]

In [208]:
df.shape

(564, 2)

In [209]:
df.isnull().sum()

sentences    0
sentiment    0
dtype: int64

In [210]:
df.duplicated().sum()

219

In [211]:
df.drop_duplicates(inplace=True)

In [212]:
df.duplicated().sum()

0

In [213]:
# Basic Preprocessing
# Lowercase
# Remove Stopwords
# Stemming

In [214]:
import re

In [215]:
def remove_tags(raw_text):
    cleaned_text= re.sub(re.compile('<.*?>'),"",raw_text)
    return cleaned_text

In [216]:
df['sentences']= df['sentences'].apply(remove_tags)

In [217]:
df['sentences']

0      Kindness ripples through my actions, creating ...
1      Every challenge I face is an opportunity for g...
2      Gratitude fills my heart for the simple pleasu...
3      I am a beacon of positivity, radiating joy to ...
4        The laughter of loved ones is music to my soul.
                             ...
468    Each step forward is met with doubt and uncert...
470    It feels like I'm wandering through a maze wit...
473    The days pass in a monotonous haze of dissatis...
475    The weight of regret is a burden I carry with ...
476    It feels like I'm running in place, making no ...
Name: sentences, Length: 345, dtype: object

In [218]:
import nltk

In [219]:
from nltk.corpus import stopwords
sw_list=stopwords.words('english')
df["sentences"]= df["sentences"].apply(lambda x: [item for item in x.split() if item not in sw_list]).apply(lambda x:" ".join(x))

In [220]:
df

                                             sentences sentiment
0    Kindness ripples actions, creating positive im...  positive
1    Every challenge I face opportunity growth lear...  positive
2         Gratitude fills heart simple pleasures life.  positive
3        I beacon positivity, radiating joy around me.  positive
4                  The laughter loved ones music soul.  positive
..                                                 ...       ...
468           Each step forward met doubt uncertainty.  negative
470             It feels like I'm wandering maze exit.  negative
473     The days pass monotonous haze dissatisfaction.  negative
475        The weight regret burden I carry every day.  negative
476  It feels like I'm running place, making progress.  negative

[345 rows x 2 columns]

In [221]:
from nltk.stem.porter import PorterStemmer

ps=PorterStemmer()
def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split() ])

In [222]:
df["sentences"]= df["sentences"].apply(stem_words)

In [223]:
df

                                           sentences sentiment
0            kind rippl actions, creat posit impact.  positive
1    everi challeng i face opportun growth learning.  positive
2            gratitud fill heart simpl pleasur life.  positive
3         i beacon positivity, radiat joy around me.  positive
4                  the laughter love one music soul.  positive
..                                               ...       ...
468         each step forward met doubt uncertainty.  negative
470               it feel like i'm wander maze exit.  negative
473       the day pass monoton haze dissatisfaction.  negative
475      the weight regret burden i carri everi day.  negative
476       it feel like i'm run place, make progress.  negative

[345 rows x 2 columns]

In [224]:
X= df.iloc[:,0:1]
y=df['sentiment']

In [225]:
X

                                           sentences
0            kind rippl actions, creat posit impact.
1    everi challeng i face opportun growth learning.
2            gratitud fill heart simpl pleasur life.
3         i beacon positivity, radiat joy around me.
4                  the laughter love one music soul.
..                                               ...
468         each step forward met doubt uncertainty.
470               it feel like i'm wander maze exit.
473       the day pass monoton haze dissatisfaction.
475      the weight regret burden i carri everi day.
476       it feel like i'm run place, make progress.

[345 rows x 1 columns]

In [226]:
y

0      positive
1      positive
2      positive
3      positive
4      positive
         ...
468    negative
470    negative
473    negative
475    negative
476    negative
Name: sentiment, Length: 345, dtype: object

In [227]:
import sklearn

In [228]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y= encoder.fit_transform(y)

In [229]:
y

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [230]:
# from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=1)

In [231]:
X_train.shape

(276, 1)

In [232]:
# Applying BoW
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [233]:
X_train_bow= cv.fit_transform(X_train["sentences"]).toarray()
X_test_bow= cv.transform(X_test["sentences"]).toarray()

In [234]:
X_train_bow.shape

(276, 546)

In [235]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [236]:
# Algorithm 2 (Random Forest)
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

rf.fit(X_train_bow,y_train)
y_pred= rf.predict(X_test_bow)
accuracy_score(y_test,y_pred)

1.0

In [247]:
def predict_sentiment(text):
    text = remove_tags(text)
    text2 = text.lower()
    stemmed_sent= stem_words(text2) 
    text_bow = cv.transform([stemmed_sent]).toarray()
    prediction = rf.predict(text_bow)
    sentiment = encoder.inverse_transform(prediction)[0]
    return sentiment

# Example usage
predict_sentiment("Wonderful weather")

'positive'

In [252]:
confusion_matrix(y_test,y_pred)

array([[35,  3],
       [ 1, 30]], dtype=int64)

In [249]:
# # Algorithm 1 (Gaussian Naive Bayes)
# from sklearn.naive_bayes import GaussianNB
# gnb= GaussianNB()

# gnb.fit(X_train_bow,y_train)

# y_pred= gnb.predict(X_test_bow)
# from sklearn.metrics import accuracy_score,confusion_matrix
# accuracy_score(y_test,y_pred)